
.example-container {
     margin-top: 50px;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 80%;
  }
  p,h4,h3{
    	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  h2,h1{
    	font-family: 'Playball', cursive;
  }
  a{
    cursor: pointer;
  }