<div  id="card" class="center d-flex justify-content-center mt-5 ">
  <div class="card" style="width: 18rem;">
    
    <div class="card-body">
      <img class="img-fluid" src="https://images.pexels.com/photos/247671/pexels-photo-247671.jpeg?cs=srgb&dl=abstract-background-dark-247671.jpg&fm=jpg" alt="">
      <h5 class="card-title"></h5>
      <p class="card-text">An ingredient added successfuly</p>
      
    </div>
  </div>
</div>






<button class="btn btn-primary btn-lg btn-block mt-5" routerLink="/admin-ingredient">Back to Admin page for adding another ingredient</button>