#recipesBorder{
    margin-top: 100px;
}
#border{
    cursor: none;
    	font-family: 'Marck Script', cursive;
}
#categories{
    	font-family: 'Just Another Hand', cursive;
}
a{
    	font-family: 'Playball', cursive;
}
p{	font-family: 'Shrikhand', cursive;}
#pagination{
	font-family: 'Shrikhand', cursive;background-color: cadetblue;font-size: 25px;
}