<div class="bodyadmin mt-5">


  <button (click)="test2()">test</button>
  <section>
    <h2>Here you can create and save your favorite recipes</h2>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <p>fill down the form that contains a recipe information.</p>
        <form novalidate class="example-form" #f="ngForm"  (ngSubmit)="submit(f)">
          <div class="form-group">
           
          <label for="name" class="mr-3">
            <p class="font-weight-bold" style="font-size: 1em;">
              Write a name for recipe </p>
          </label>
          <mat-form-field class="otherfield">
            <input [required]="checkRecipeName()" ngModel minlength="2" 
             [(ngModel)]="recipeName" name="name" class="form-control" id="name"  type="text" matInput placeholder="Favorite food"  
             value="Sushi" #fname="ngModel"      >
             <div class="alert alert-danger" *ngIf="fname.touched && fname.invalid">
              <div *ngIf="fname.errors.required">Recipe name is required</div>
              <div *ngIf="fname.errors.minlength">First name should be minimum{{fname.errors.minlength.requiredLength}}</div>              
             </div>
          </mat-form-field>
          <br>

          <label for="categoryies" class="mr-3">
            <p class="font-weight-bold" style="font-size: 1em;">
              Choose recipe category </p>
          </label>
          <mat-radio-group  id="categoryies" required ngModel name="category"  class="example-radio-group" [(ngModel)]="recipeCategory" >
            <mat-radio-button   class="example-radio-button" *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-radio-button>
          </mat-radio-group>
          

          <br>
          <label for="instructions" class="mr-3">
            <p class="font-weight-bold" style="font-size: 1em;">
              Add an Instruction </p>
          </label>
          <button type="button" class="btn btn-primary mr-2" (click)="addInstruction()">Add instruction</button>
          <mat-form-field id="instruc" >
            <textarea [required]="checkInstruction()" id="instructions" [(ngModel)]="recipeInstruction" type="text" class="form-control" ngModel minlength="10" name="instruction" #instr="ngModel" matInput placeholder="Add an Instruction"></textarea>
            <div class="alert alert-danger" *ngIf="instr.touched && instr.invalid ">
                <div *ngIf="instr.errors.required">Instruction is required</div>
                <div *ngIf="instr.errors.minlength">instruction should be minimum{{instr.errors.minlength.requiredLength}}</div>              
               </div>
          </mat-form-field>
          <br>
         
       <div class="ingredientborder d-flex flex-column justify-content-center">
         
          
       <mat-form-field class="example-full-width">

        <input class="textareafield" required ngModel type="text"  class="form-control"  placeholder="Pick an ingredient" aria-label="Number" matTooltip="Type an ingredieant name"
          matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip" matInput [formControl]="myControl"
            [matAutocomplete]="auto" id="ingredientName">
              
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            

          </mat-form-field>
          <br>
          <label for="units" class="mr-3">
            <p class="font-weight-bold" style="font-size: 1em;">
              Specify number of units for the given ingredient </p>
          </label>          
          <mat-form-field>
            <input id="units" type="text" [(ngModel)]="ingredientUnits" class="form-control"  required ngModel  name="units" #unit="ngModel" matInput placeholder="if ingredieant not counted provide 1">
            <div class="alert alert-danger" *ngIf="unit.touched && unit.invalid ">
                <div *ngIf="unit.errors.required">Units are required,if the ingredieant not counted provide 1</div>                              
               </div>
          </mat-form-field>
          <br>
          <label for="unitEquivalentInGrams" class="mr-3">
            <p class="font-weight-bold" style="font-size: 1em;">
              Specify unit equivalent in grams </p>
          </label>          
          <mat-form-field>
            <input required id="unitEquivalentInGrams"[(ngModel)]="ingredientUnitInGrams" type="text" class="form-control"  required ngModel  name="unitEquivalentInGrams" #unitingram="ngModel" matInput placeholder="Unit Equivalent In Grams">
            <div class="alert alert-danger" *ngIf="unitingram.touched && unit.invalid ">
                <div *ngIf="unitingram.errors.required">unit equivalent in grams are required</div>                              
               </div>
          </mat-form-field>
          <br>
          <button type="button" [disabled]="myControl.invalid || !unitingram.valid || !unit.valid" (click)="getingredient2()" class="btn btn-primary mr-2">Add ingredient</button>
        </div>


        
          <br>






          <label for="instructions" class="mr-3">
            <p class="font-weight-bold" style="font-size: 1em;">
              Add an url image </p>
          </label>
          
          <mat-form-field class="otherfield">
            <textarea class="textarea" required name="imageLink" ngModel #imagelink="ngModel" [(ngModel)]="imageLink" id="imageLink" matInput placeholder="Add an image link"></textarea>
            <div class="alert alert-danger" *ngIf="imagelink.touched && imagelink.invalid ">
              <div *ngIf="imagelink.errors.required">Image link is required</div>
                           
             </div>
          </mat-form-field>
          <br>
          <label for="description" class="mr-3">
            <p class="font-weight-bold" style="font-size: 1em;">
              Add a description </p>
          </label>
          <button type="button" class="btn btn-primary mr-1">Add description</button>
          <mat-form-field class="textarea">
            <textarea matInput required ngModel name="description" #desc="ngModel" rows="3" cols="6"
             placeholder="description" id="description" [(ngModel)]="description"></textarea>
            <div class="alert alert-danger" *ngIf="desc.touched && desc.invalid ">
              <div *ngIf="desc.errors.required">description is required</div>
                           
             </div>
          </mat-form-field>
          <div class="row d-flex flex-row justify-content-center">
            
            <button  type="submit" [disabled]="!f.valid" (click)="logRecipe()" class="btn btn-primary p-2" routerLink="/recipeAddedSuccess">Create and save the recipe</button>
          </div>
        </div>
        </form>
        <br>
        <br>
        




      </div>
      <div class="col-md-3">
        <h2>Healthy food</h2>
        <h4>Currently, little is known about the meanings men
          attach to food or to the links between food and health.</h4>
      </div>

    </div>
  </div>

</div>