<div class="bodyadmin mt-5">


  
  <section>
    <h2>Här kan du skapa och spara dina favoritrecept
    </h2>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>fyll i formuläret som innehåller en receptinformation.</p>
        <form novalidate class="example-form" #form="ngForm" (ngSubmit)="submit(form)">
          <div class="form-group">

            <label for="name" class="mr-3">
              <p class="font-weight-bold" style="font-size: 1em;">
                Skriv ett namn på ett recept </p>
            </label>
            <mat-form-field class="otherfield">
              <input required ngModel minlength="2" name="name" class="form-control"
                id="name" type="text" matInput placeholder="Favorite food"
                 value="Sushi" #fname="ngModel">
              <div class="alert alert-danger" *ngIf="fname.touched && fname.invalid">
                <div *ngIf="fname.errors.required">Skriv ett namn på ett recept</div>
                <div *ngIf="fname.errors.minlength">Förnamn ska vara minst{{fname.errors.minlength.requiredLength}}</div>
              </div>
            </mat-form-field>
            <br>

            <label for="categoryies" class="mr-3">
              <p class="font-weight-bold" style="font-size: 1em;">
                Välj recept kategori </p>
            </label>
            <mat-radio-group id="categoryies" required ngModel name="category"
             class="example-radio-group" >
              <mat-radio-button class="example-radio-button"
               *ngFor="let category of categories" [value]="category">{{category}}
              </mat-radio-button>
            </mat-radio-group>

            <br>

            <label for="instructions" class="mr-3">
              <p class="font-weight-bold" style="font-size: 1em;"> Lägg till en instruktion </p>
            </label>
            <button type="button" class="btn btn-primary mr-2" (click)="addInstruction()">
              Lägg till en instruktion </button>
            <mat-form-field id="instruc">
              <textarea [required]="!checkInstruction()" id="instructions"  type="text"
                class="form-control" [(ngModel)]="recipeInstruction" ngModel minlength="10" name="instruction" 
                #instr="ngModel" matInput placeholder="Add an Instruction"></textarea>
              <div class="alert alert-danger" *ngIf="instr.touched && instr.invalid ">
                <div *ngIf="instr.errors.required">Instruction is required</div>
                <div *ngIf="instr.errors.minlength">instruction should be
                  minimum{{instr.errors.minlength.requiredLength}}</div>
              </div>
            </mat-form-field>
            <br>

            <div class="ingredientborder d-flex flex-column justify-content-center">
              <mat-form-field class="example-full-width">
                <input class="textareafield" required ngModel type="text" class="form-control"
                [required]="!recipe.ingredients.length>0" placeholder="Pick an ingredient" 
                name="ingredient" aria-label="Number" 
                 
                 matTooltip="Type an ingredieant name" matTooltipClass="example-tooltip-red"
                  aria-label="Button that shows a red tooltip" matInput [formControl]="myControl" 
                  [matAutocomplete]="auto" id="ingredientName">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <br>
              <label for="units" class="mr-3">
                <p class="font-weight-bold" style="font-size: 1em;">
                  Ange antal enheter för den angivna ingrediensen </p>
              </label>
              <mat-form-field>
                <input id="units" type="text" [(ngModel)]="ingredientUnits"
                 class="form-control" required ngModel name="units" [required]="!recipe.ingredients.length>0"
                  #unit="ngModel" matInput placeholder="if ingredieant not counted provide 1">
                <div class="alert alert-danger" *ngIf="unit.touched && unit.invalid ">
                  <div *ngIf="unit.errors.required">Units are required,if the ingredieant not counted provide 1</div>
                </div>
              </mat-form-field>
              <br>
              <label for="unitEquivalentInGrams" class="mr-3">
                <p class="font-weight-bold" style="font-size: 1em;">
                  Ange enhetens ekvivalent i gram </p>
              </label>
              <mat-form-field>
                <input required id="unitEquivalentInGrams" #unitingram="ngModel"
                 type="text" class="form-control" [(ngModel)]="ingredientUnitInGrams"
                  required ngModel name="unitEquivalentInGrams" [required]="!recipe.ingredients.length>0"
                   matInput placeholder="Unit Equivalent In Grams">
                <div class="alert alert-danger" *ngIf="unitingram.touched && unitingram.invalid ">
                  <div *ngIf="unitingram.errors.required">unit equivalent in grams are required</div>
                </div>
              </mat-form-field>
              <br>
              <button type="button" [disabled]="myControl.invalid || !unitingram.valid || !unit.valid" (click)="getingredient2()"
                class="btn btn-primary mr-2">Lägg till ingrediens
              </button>
            </div>

            <br>


            <label for="imageLink" class="mr-3">
              <p class="font-weight-bold" style="font-size: 1em;">
                Lägg till en URL-bild </p>
            </label>

            <mat-form-field class="otherfield">
              <textarea class="textarea" [required]="!imageLinkStatus" name="imageLink"
               ngModel #imagelink="ngModel" (change)="setImageLink()"
                id="imageLink" matInput placeholder="Add an image link"></textarea>
              <div class="alert alert-danger" *ngIf="imagelink.touched && imagelink.invalid ">
                <div *ngIf="imagelink.errors.required">Image link is required</div>

              </div>
            </mat-form-field>
            <br>
            <label for="browseFoto"><h5>Du kan ladda upp en bild  </h5></label>
            <input class="btn btn-primary" ngModel name="photoFile" type="file" id="browseFoto" (change)="readUrl($event)">
            <br>
            <label for="description" class="mr-3">
              <p class="font-weight-bold" style="font-size: 1em;">
                Lägg till en beskrivning </p>
            </label>

            <mat-form-field class="description">
              <textarea  matInput required ngModel name="description" 
              #desc="ngModel" rows="3"
                cols="6" placeholder="description" id="description" >
              </textarea>
              <div class="alert alert-danger" *ngIf="desc.touched && desc.invalid ">
                <div *ngIf="desc.errors.required">description is required</div>

              </div>
            </mat-form-field>
            <div class="row d-flex flex-row justify-content-center">

              <button type="submit" [disabled]="!form.valid" (click)="onSubmit()" class="btn btn-dark p-2"
                routerLink="/recipeAddedSuccess">Skapa och spara receptet</button>
            </div>
          </div>
        </form>
        <br>
        <br>





      </div>
      <div class="col-md-4">
        <h2>
          Hälsosam mat</h2>
        <h4>För närvarande är lite känt om meningsmedlemmarna
          bifogas mat eller kopplingar mellan mat och hälsa.</h4>
           
         <br><br><br><br><br><br>
          <div class="recipe">
            <br><br>
              <h5>tillsats av ingredienser</h5>
            <ul class="list-unstyled" *ngFor="let ingr of recipe.ingredients"  >
             <a  (click)="removeIngredient(ingr)" > <li> <i class="material-icons">delete</i>  {{ingr.Namn}}</li></a>
            </ul>
          </div>
      </div>
        
          
        
    </div>
  </div>

</div>